apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: ticketboard
  labels:
    app: backend
    component: api
spec:
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP
