apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: ticketboard
  labels:
    app: frontend
    component: ui
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
  type: ClusterIP
