apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: ticketboard
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          env:
            - name: NODE_ENV
              value: "development"
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
