apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: ticketboard
spec:
  template:
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: frontend
          image: docker.io/$DOCKERHUB_USERNAME/ticketboard-frontend:latest
